* {
  margin: 0;
  padding: 0;
}

/* navigation stayling */

.menu-nav {
  background-color: black;
  opacity: 0.9;
  height: 5rem;
  width: 99vw;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.nav-inner {
  border: 1px solid white;
  width: 40vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
   /* border: 1px solid red; */
}



.nav-btn {
  outline: none;
  border: none;
  text-transform: capitalize;
  text-align: center;
  padding: 0.4rem 1rem;
  font-size: 1.5rem;
  transition: 0.5s;
  margin: 0rem 1rem;
}

.nav-btn:hover {
  background-color: black;
  color: white;
}

/* food menu nav media query */

@media only screen and  (min-width: 360px) {
  .menu-nav {

  width: 100vw;

  }
  .nav-inner {
   
    width:auto; 
  }

  .nav-btn {
    margin: 0rem 0.2rem;
    padding: 0.1rem 0.2rem;
    font-size: 1.1rem;
  }
}

/* _________________________________ */
@media only screen and  (min-width: 375px) {
  .menu-nav {

   width: 100vw;
    
  }
  .nav-inner {
    /* display: none; */
    /* border: 1px solid red; */
    width: auto;
  }

  .nav-btn {
  
    margin: 0rem 0.2rem;
    padding: 0.1rem 0.4rem;
    font-size: 1.1rem; 
  }
}



/* __________________________________ */
@media(min-width: 640px) {
  .nav-inner {
     width: auto; 
  }

  .nav-btn {
     margin: 0rem 0.4rem;
    padding: 0.2rem 0.4rem;
    font-size: 1.4rem; 
  }
}
/* _____________________________ */
@media  (min-width: 768px)  {


}
/* __________________________________ */

@media only screen and  (min-width: 1024px) {
   .menu-nav {
   
  }

  .nav-inner {
     /* border: 1px solid rgb(250, 25, 25);   */
   width: auto; 
  }

  .nav-btn {
     margin: 0rem 1.5rem;
    padding: 0.2rem 0.4rem;

    font-size: 1.8rem; 
  } 
}

/* __________________________________ */

@media only screen and  (min-width: 1280px) {
  .menu-nav {
   
  }
  .nav-inner {
    width: auto;
  }

  .nav-btn {
     margin: 0rem 1.5rem;
    padding: 0.4rem 1rem;
    font-size: 1.5rem; 
  }
}
/* __________________________________ */

@media only screen and   (min-width: 1536px) {
  .menu-nav {
   width: 99vw;
  }
  .nav-inner {
     width: auto; 
  }

  .nav-btn {
     padding: 0.4rem 1rem;
    font-size: 1.5rem;
  }
}
